/* Style the html/body */

html,
body {
  padding: 0;
  margin: 0;
  font-family: gdsherpa, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

p,
li {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

h2,
h3 {
  margin-bottom: -5px;
}

@font-face {
  font-family: "Gdsherpa";
  src: url("/fonts/gdsherpa-vf.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gd-Sage-Bold";
  src: url("/fonts/gd-sage-bold.woff2");
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}

/* Style the top navigation bar */
.navbar {
  width: 100%;
  position: fixed !important;
  overflow: hidden;
  background-color: #333;
  z-index: 999;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04aa6d;
  color: white;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Education */

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.resume {
  position: relative;
}

.resume:before {
  content: "";
  position: absolute;
  top: -8px;
  width: 10px;
  height: 10px;
  background-color: #e1e1e1;
  left: 50%;
  margin-left: -6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.resume:after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 10px;
  height: 10px;
  background-color: #e1e1e1;
  left: 50%;
  margin-left: -6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -1.5px;
  background-color: #e1e1e1;
}

.timeline > li {
  position: relative;
  margin-bottom: 50px;
  min-height: 50px;
}

.timeline > li:after,
.timeline > li:before {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  float: left;
  position: relative;
  width: 100%;
}

.timeline-content {
  padding: 5px 20px 0;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .posted-date {
  position: relative;
  text-align: center;
  background-color: #fff;
  left: 20px;
}

.timeline > li .posted-date .month {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  display: block;
  color: #2c3e50;
  top: 0;
  float: left;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline-heading h3 {
  font-size: 20px;
  line-height: 28px;
}

.timeline-heading span {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
}

.timeline-heading span a {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .timeline:before {
    left: 50%;
  }

  .timeline > li {
    margin-bottom: 15px;
    min-height: 100px;
  }

  .timeline > li .posted-date {
    position: absolute;
    text-align: center;
    background-color: #fff;
  }

  .timeline > li .timeline-panel {
    border-radius: 10px;
    float: left;
    width: 43%;
    text-align: left;
    border: 1px solid #eee;
    position: relative;
  }

  .timeline-content {
    position: relative;
    padding: 24px;
    background-color: #fff;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
  }

  .timeline > li .timeline-panel::before,
  .timeline > li.timeline-inverted .timeline-panel::before {
    content: "";
    top: 25px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .timeline > li .timeline-panel::before {
    left: 100%;
    border-left: 12px solid #ececec;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
  }

  .timeline > li.timeline-inverted .timeline-panel::before {
    right: 100%;
    border-right: 12px solid #ececec;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
  }

  .timeline > li .timeline-panel::after,
  .timeline > li.timeline-inverted .timeline-panel::after {
    content: "";
    top: 25px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .timeline > li .timeline-panel::after {
    left: 100%;
    margin-left: -2px;
    border-left: 12px solid #fff;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
  }

  .timeline > li.timeline-inverted .timeline-panel::after {
    right: 100%;
    margin-right: -2px;
    border-right: 12px solid #fff;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
  }

  .timeline > li .posted-date {
    left: 50%;
    width: 120px;
    margin-left: -60px;
    margin-top: 28px;
  }

  .timeline > li .posted-date .month {
    float: none;
  }
}

@media (max-width: 766px) {
  .resume:after,
  .resume:before {
    left: 1px;
  }

  .timeline-heading h3.panel-title {
    font-size: 14px;
    line-height: normal;
  }

  .timeline-heading span {
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
  }

  .timeline-heading span a.h4 {
    font-size: 14px;
    line-height: 20px;
  }

  .timeline > li .posted-date .month {
    font-size: 14px;
    line-height: 1.1;
  }

  .thumbnail {
    margin-bottom: 5px;
  }
}

.timeline-content {
  padding: 0 20px;
}

.timeline-content .panel-body p {
  line-height: 24px;
}

.timeline-heading h3 {
  line-height: 26px;
}

.timeline-heading span {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

.timeline-heading span a.h4 {
  text-decoration: none;
}

.custom-size {
  font-size: 1.3em;
}
