/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Profile Image */
.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  transition: opacity 500ms ease 0s;
  z-index: 10;
}

/* Column container */
.heading {
  margin-top: 40px;
  margin-bottom: 60px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  position: relative;
}

.heading::after {
  background: url(/section-divider.webp) no-repeat;
  bottom: -30px;
  content: "";
  height: 15px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 113px;
}

/* Main column */
.main {
  flex: 100%;
  background-color: white;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

.connect_icons {
  background-color: #000;
  border-radius: 3rem;
  padding: 0.5rem 0.6rem;
  margin-right: 5px;
  min-height: 2.7rem;
  min-width: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedInIcon {
  background-color: #0a66c2;
}

.twitterInIcon {
  background-color: #22a1f2;
}

.stackOverflowIcon {
  background-color: #fff;
}

.icon {
  fill: #fff;
  stroke: #fff;
  height: 1.5rem;
  width: 1.5rem;
}

.chip {
  margin: 4px;
  display: inline-block;
  padding: 0 25px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip:hover {
  color: #fff;
  background-color: #000; /* #eceff1; */
}

.floating_actions {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 150px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action_blue_color {
  right: 0px;
  background-color: #2585d3;
}
