/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Profile Image */
.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  transition: opacity 500ms ease 0s;
  z-index: 10;
}

/* Column container */
.heading {
  margin-top: 40px;
}

/* Main column */
.main {
  flex: 100%;
  background-color: white;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.connect_icons {
  background-color: #000;
  border-radius: 3rem;
  padding: 0.5rem 0.6rem;
  margin-right: 5px;
  min-height: 2.7rem;
  min-width: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedInIcon {
  background-color: #0a66c2;
}

.twitterInIcon {
  background-color: #22a1f2;
}

.stackOverflowIcon {
  background-color: #fff;
}

.icon {
  fill: #fff;
  stroke: #fff;
  height: 1.5rem;
  width: 1.5rem;
}

.chip {
  margin: 4px;
  display: inline-block;
  padding: 0 25px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip:hover {
  color: #fff;
  background-color: #000; /* #eceff1; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* 
.topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #F8F8F8;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
}

.topBtn:hover {
  background-color: #E8E8E8;
}

.topBtn:hover .arrowUpIcon:hover {
  fill: #000000;
}

.arrowUpIcon {
  fill: #000;
  width: 24px;
  height: 12px;
}


.srOnly {
  position: absolute;
  clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.srOnly:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  clip-path: none;
  background-color: #eee;
  padding: 15px 23px 14px;
  width: auto;
  height: auto;
  text-decoration: none;
  line-height: normal;
  color: #444;
  font-size: 1em;
  clip: auto !important;
} */
